.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 40px;
}

.input {
	background-color: transparent;
	border: 1px solid var(--border-color);
	border-right-color: transparent;
	border-radius: 40px 0 0 40px;
	padding: 0px 4px 0px 16px;
	height: 100%;
	color: var(--color);
	font-size: 16px;
	width: 600px;
	outline: none;

	&:focus {
		border-right-color: var(--border-color);
		border-color: var(--border-color-focus);
	}
}

.icon_button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-radius: 0 40px 40px 0;
	cursor: pointer;
	width: 64px;
	border: 1px solid var(--border-color);
	background-color: var(--background-color-hover);

	&:active {
		background-color: var(--background-color-active);
	}
}