.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 56px;
	padding: 0 16px;
	margin-bottom: 20px;
}

.left {
	display: flex;
	align-items: center;

	.icon_button {
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-right: 8px;
    box-sizing: border-box;
		cursor: pointer;
		border-radius: 50%;

		&:hover {
			background-color: var(--background-color-hover);
		}

		&:active {
			background-color: var(--background-color-active);
		}
	}

	.logo {
		display: flex;
		color: var(--color);
	}
}