:root {
  --background-color: #0f0f0f;
  --background-color-hover: rgba(255, 255, 255, 0.1);
  --background-color-active: rgba(255, 255, 255, 0.2);
  --border-color: #303030;
  --border-color-focus: #1c62b9;
  --color: #fff;
  --color-darken: #aaa;
  --main-color: rgb(149, 149, 255);
  --main-color-alpha: rgba(149, 149, 255, 0.9);
  --color-preloader: #333;
}